// Smartphone portrait
@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) and (orientation : portrait){
	body{
		background: red;
	}
}

// Smartphone landscape
@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) and (orientation : landscape){
	body{
		background: yellow;
	}
}

// Tablet portrait
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) and (orientation : portrait) {
	body{
		background: blue;
	}
}

// Tablet landscape
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) and (orientation : landscape) {
	body{
		background: green;
	}
}

// Normal Desktop
@media (min-width: $screen-md-min) and (max-width: $screen-md-max){
	body{
		background: $body-bg;
	}
}