<!doctype html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Twitto">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Twitto</title>
        <link rel="stylesheet" href="css/main.css">
        <link rel="author" href="humans.txt">
        <script src="js/lib/angular.js"></script>
        <script src="js/lib/angular-resource.js"></script>
        <script src="js/lib/lodash.js"></script>
    </head>
    <body ng-controller="MainController">
        <div class="main">
            <!-- Feed twitter -->
            <ul class="list-unstyled widget" ng-cloak>
                <li class="tweet" ng-animate="'animate'" ng-repeat="tweet in tweets">
                    <div class="user">
                        <img class="user-profile-image" ng-src="{{tweet.user.profile_image_url}}">
                        <div class="user-name">{{tweet.user.name}}</div>
                        <div class="user-screen-name">@{{tweet.user.screen_name}}</div>
                    </div>
                    <div class="content">
                        <div class="text" ng-bind-html="tweet.text"></div>
                        <div class="media" ng-show="tweet.entities.media[0]">
                            <img class="media-img" ng-src="{{tweet.entities.media[0].media_url}}">
                        </div>
                    </div>
                    <div class="meta">
                        <div class="when" ng-bind-html="tweet.when"></div>
                        <div class="bottom">
                            <div class="rt"><i class="fa fa-retweet"></i> {{tweet.retweet_count}}</div>
                            <div class="fav"><i class="fa fa-star"></i> {{tweet.favorite_count}}</div>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- Video -->
            <div class="pip-wrapper">
                <div class="pip">
                    <form class="col-md-6">
                        <div class="field-search">
                            <div class="form-group">
                                <div class="input-group">
                                <input class="form-control" type="text" ng-model="query" placeholder="#fifa16">
                                <span class="input-group-btn">
                                    <button class="btn btn-block btn-default">
                                        <span style="display:block;" ng-hide="searching" ng-click="search()">Commencer la recherche</span>
                                        <span style="display:block;" ng-show="searching" ng-click="stopSearch()"><i class="fa fa-spinner fa-pulse fa-fw"></i> Arrêter la recherche</span>
                                    </button>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="showBanned">
                            <h4>Bannir un compte (sans le @ et séparé par un espace) :</h4>
                            <textarea class="form-control" ng-model="banned" rows="10"></textarea>
                        </div>
                    </form>
                </div>
                <div class="hashtag">
                    <h6 style="font-size:30px;">Réagissez sur</h6>
                    <h1 style="font-size:40px;">#KSO</h1>
                </div>
            </div>
        </div>
        <script data-main="js/main.min" src="js/lib/require.js"></script>
        <script src="js/lib/config.js"></script>
        <script src="js/lib/main.js"></script>
        <script src="js/lib/tweets.service.js"></script>
    </body>
</html>