<!doctype html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Twitto">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Twitto</title>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/fifa.css">
        <link rel="author" href="humans.txt">
        <script src="js/lib/angular.js"></script>
        <script src="js/lib/angular-resource.js"></script>
        <script src="js/lib/lodash.js"></script>
    </head>
    <body ng-controller="MainController">
        <div class="main">
            <ul id="widget" ng-cloak>
                <li class="tweet" ng-repeat="tweet in tweets">
                    <div class="user">
                        <img class="user-profile-image" ng-src="{{tweet.user.profile_image_url}}">
                        <span class="user-name">{{tweet.user.name}}</span>
                        <span class="user-screen-name">@{{tweet.user.screen_name}}</span>
                    </div>
                    <div class="content">
                        <div class="text" ng-bind-html="tweet.text"></div>
                        <div class="media" ng-show="tweet.entities.media[0]">
                            <img class="media-img" ng-src="{{tweet.entities.media[0].media_url}}">
                        </div>
                    </div>
                    <div class="meta">
                        <div class="when" ng-bind-html="tweet.when"></div>
                        <div class="rt"> <i class="fa fa-retweet"></i> {{tweet.retweet_count}}</div>
                        <div class="fav"> <i class="fa fa-star"></i> {{tweet.favorite_count}}</div>
                    </div>
                </li>
            </ul>
            <div class="pip-wrapper">
                <div class="pip">
                    <div id="controls" ng-hide="searching">
                        <input type="text" ng-model="query" placeholder="#gamequest">
                        <button ng-click="search()">Commencer la recherche</button>
                    </div>
                    <div id="stop" ng-show="searching">
                        <button ng-click="stopSearch()">Arrêter la recherche</button>
                    </div>
                    <div id="showBanned" ng-init="bannedButtonMessage='Montrer'">
                        <br>
                        <button ng-click="showBanned = !showBanned; bannedButtonMessage = showBanned ? 'Cacher' : 'Montrer'">{{bannedButtonMessage}} les comptes bannis</button><br>
                        <textarea ng-model="banned" ng-show="showBanned"></textarea>
                    </div>
                </div>
                <div class="hashtag">
                    <img src="images/riolofut16.png" alt="">
                </div>
            </div>
        </div>
        <script data-main="js/main.min" src="js/lib/require.js"></script>
        <script src="js/lib/config.js"></script>
        <script src="js/lib/main.js"></script>
        <script src="js/lib/tweets.service.js"></script>
    </body>
</html>